# Mobile (Expo)
EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_SENTRY_DSN=

# Optional
EXPO_PUBLIC_API_URL=http://localhost:3333

# Android emulator example:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3333

# Android physical device example (same Wi-Fi as backend host):
# EXPO_PUBLIC_API_URL=http://192.168.1.103:3333
